body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ee74fc+26,54a3ee+56,1e69de+99 */
  background: #ee74fc;
  background: -moz-linear-gradient(
    -45deg,
    #ee74fc 26%,
    #54a3ee 56%,
    #1e69de 99%
  );
  background: -webkit-linear-gradient(
    -45deg,
    #ee74fc 26%,
    #54a3ee 56%,
    #1e69de 99%
  );
  background: linear-gradient(135deg, #ee74fc 26%, #54a3ee 56%, #1e69de 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee74fc', endColorstr='#1e69de',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  min-height: 100vh;
}

.hidden {
  display: none;
}

h1 {
  text-align: center;
  color: white;
  font-size: medium;
}

h2 {
  font-size: 14px;
}

.drink-results h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
}

li {
  list-style: none;
}

html,
body {
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section {
  width: 40%;
  min-width: 200px;
  margin: 6px 2.5%;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

button {
  background-color: rgb(4, 68, 151);
  border-radius: 6px;
  color: white;
  font-size: 15px;
}

button:hover {
  color: white;
  background-color: rgb(6, 34, 70);
}

button.trivia-submit {
  margin: 3px;
}

